# Sistem Rekomendasi Film
Dalam kasus ini, kita akan menggunakan kombinasi antara rata-rata rating, jumlah vote, dan membentuk metric baru dari metric yang sudah ada, kemudian kita akan melakukan sorting untuk metric ini dari yang tertinggi ke terendah.

<img src="http://localhost:8888/notebooks/OneDrive/Documents/DM-ML/CB%20RS/weight-avg.png"/>


dimana:<br />

v: jumlah votes untuk film tersebut<br />
m: jumlah minimum votes yang dibutuhkan supaya dapat masuk dalam chart<br />
R: rata-rata rating dari film tersebut<br />
C: rata-rata jumlah votes dari seluruh semesta film<br />

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Membaca dataset
movie_df = pd.read_csv('title.basics.tsv', sep='\t') #untuk menyimpan title_basics.tsv
rating_df = pd.read_csv('title.ratings.tsv', sep='\t') #untuk menyimpan title.ratings.tsv

In [3]:
movie_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0221078,short,"Circle Dance, Ute Indians","Circle Dance, Ute Indians",0,1898,\N,\N,"Documentary,Short"
1,tt8862466,tvEpisode,"¡El #TeamOsos va con todo al ""Reality del amor""!","¡El #TeamOsos va con todo al ""Reality del amor""!",0,2018,\N,\N,"Comedy,Drama"
2,tt7157720,tvEpisode,Episode #3.41,Episode #3.41,0,2016,\N,29,"Comedy,Game-Show"
3,tt2974998,tvEpisode,Episode dated 16 May 1987,Episode dated 16 May 1987,0,1987,\N,\N,News
4,tt2903620,tvEpisode,Frances Bavier: Aunt Bee Retires,Frances Bavier: Aunt Bee Retires,0,1973,\N,\N,Documentary

In [4]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB

In [5]:
# Pengecekan Data dengan Nilai NULL
movie_df.isnull().sum()

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

In [6]:
# Analisis Kolom dengan data bernilai NULL
movie_df.loc[(movie_df['primaryTitle'].isnull()) | (movie_df['originalTitle'].isnull())]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
9000,tt10790040,tvEpisode,NaN,NaN,0,2019,\N,\N,\N
9001,tt10891902,tvEpisode,NaN,NaN,0,2020,\N,\N,Crime
9002,tt11737860,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9003,tt11737862,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9004,tt11737866,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9005,tt11737872,tvEpisode,NaN,NaN,0,2020,\N,\N,\N
9006,tt11737874,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9007,tt1971246,tvEpisode,NaN,NaN,0,2011,\N,\N,Biography
9008,tt2067043,tvEpisode,NaN,NaN,0,1965,\N,\N,Music
9009,tt4404732,tvEpisode,NaN,NaN,0,2015,\N,\N,Comedy
9010,tt5773048,tvEpisode,NaN,NaN,0,2015,\N,\N,Talk-Show
9011,tt8473688,tvEpisode,NaN,NaN,0,1987,\N,\N,Drama
9012,tt8541336,tvEpisode,NaN,NaN,0,2018,\N,\N,"Reality-TV,Romance"
9013,tt9824302,tvEpisode,NaN,NaN,0,2016,\N,\N,Documentary

In [7]:
len(movie_df)

9025

In [8]:
# Gunakan data movie dg primaryTitle & orinilaTitle != null
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]

In [9]:
len(movie_df)

9011

In [10]:
# Cek kembali data-data NULL
movie_df.loc[movie_df['genres'].isnull()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
9014,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,\N,\N,Reality-TV,NaN
9015,tt10925142,tvEpisode,The IMDb Show on Location: Star Wars Galaxy's ...,0,2019,\N,\N,Talk-Show,NaN
9016,tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019,\N,\N,\N,NaN
9017,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,\N,\N,Documentary,NaN
9018,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,\N,\N,Talk-Show,NaN
9019,tt2347742,tvEpisode,No sufras por la alergia esta primavera\tNo su...,0,2004,\N,\N,\N,NaN
9020,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,\N,\N,Reality-TV,NaN
9021,tt8740950,tvEpisode,Weight Loss Resolution Restart - Ins & Outs of...,0,2015,\N,\N,Reality-TV,NaN
9022,tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019,\N,\N,\N,NaN
9023,tt9900062,tvEpisode,The Direction of Yuu's Love: Hings Aren't Goin...,0,1994,\N,\N,"Animation,Comedy,Drama",NaN
9024,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,\N,NaN

In [11]:
# Bersihkan data, gunakan genres != null
movie_df = movie_df.loc[movie_df['genres'].notnull()]

In [12]:
len(movie_df)

9000

In [13]:
#mengubah nilai '\\N' pada startYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['startYear'] = movie_df['startYear'].replace('\\N',np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64') 
print(movie_df['startYear'].unique()[:5])

#mengubah nilai '\\N' pada endYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['endYear'] = movie_df['endYear'].replace('\\N',np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64') 
print(movie_df['endYear'].unique()[:5])

#mengubah nilai '\\N' pada runtimeMinutes menjadi np.nan dan cast kolomnya menjadi float64
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N',np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64') 
print(movie_df['runtimeMinutes'].unique()[:5])

[1898. 2018. 2016. 1987. 1973.]
[  nan 2005. 1955. 2006. 1999.]
[nan 29.  7. 23. 85.]

In [14]:
# Mengubah nilai genres menjadi list
def transform_to_list(x):
    if ',' in x: 
    #ubah menjadi list apabila ada data pada kolom genre
        return x.split(',')
    else: 
    #jika tidak ada data, ubah menjadi list kosong
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

In [15]:
movie_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0221078,short,"Circle Dance, Ute Indians","Circle Dance, Ute Indians",0,1898.0,NaN,NaN,"[Documentary, Short]"
1,tt8862466,tvEpisode,"¡El #TeamOsos va con todo al ""Reality del amor""!","¡El #TeamOsos va con todo al ""Reality del amor""!",0,2018.0,NaN,NaN,"[Comedy, Drama]"
2,tt7157720,tvEpisode,Episode #3.41,Episode #3.41,0,2016.0,NaN,29.0,"[Comedy, Game-Show]"
3,tt2974998,tvEpisode,Episode dated 16 May 1987,Episode dated 16 May 1987,0,1987.0,NaN,NaN,[]
4,tt2903620,tvEpisode,Frances Bavier: Aunt Bee Retires,Frances Bavier: Aunt Bee Retires,0,1973.0,NaN,NaN,[]

In [16]:
rating_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

In [17]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

In [19]:
#Lakukan join pada kedua table
movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')

In [20]:
#Tampilkan 5 data teratas
print(movie_rating_df.head())

      tconst  titleType              primaryTitle             originalTitle  \
0  tt0043745      short                 Lion Down                 Lion Down
1  tt0167491      video         Wicked Covergirls         Wicked Covergirls
2  tt6574096  tvEpisode      Shadow Play - Part 2      Shadow Play - Part 2
3  tt6941700  tvEpisode              RuPaul Roast              RuPaul Roast
4  tt7305674      video  UCLA Track & Field Promo  UCLA Track & Field Promo

   isAdult  startYear  endYear  runtimeMinutes  \
0        0     1951.0      NaN             7.0
1        1     1998.0      NaN            85.0
2        0     2017.0      NaN            22.0
3        0     2017.0      NaN             NaN
4        0     2017.0      NaN             NaN

                           genres  averageRating  numVotes
0     [Animation, Comedy, Family]            7.1       459
1                              []            5.7         7
2  [Adventure, Animation, Comedy]            8.5       240
3                              []            8.0        11
4                  [Short, Sport]            9.7         7

In [21]:
#Tampilkan tipe data dari tiap kolom
print(movie_rating_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB
None

In [22]:
len(movie_rating_df)

1376

In [23]:
# Hapus nilai NULL dari kolom startYear dan runtimeMinutes
movie_rating_df = movie_rating_df.dropna(subset=['startYear', 'runtimeMinutes'])

In [24]:
len(movie_rating_df)

1004

In [26]:
# Mengambil rata2 averageRating
C = movie_rating_df['averageRating'].mean()
print(C)

6.829581673306767

In [31]:
# mencari nilai M
# Kita ambil contoh film dengan numVotes di atas 80% populasi, 
# jadi populasi yang akan kita ambil hanya sebesar 20%. 
m = movie_rating_df['numVotes'].quantile(0.8)
print(m)

229.0

In [32]:
# membuat fungsi weighted formula
def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(v+m)*R) + (m/(v+m)*C) #Rumus IMDb 
    return df['score']

In [33]:
imdb_weighted_rating(movie_rating_df)
print(movie_rating_df.head())

      tconst  titleType          primaryTitle         originalTitle  isAdult  \
0  tt0043745      short             Lion Down             Lion Down        0
1  tt0167491      video     Wicked Covergirls     Wicked Covergirls        1
2  tt6574096  tvEpisode  Shadow Play - Part 2  Shadow Play - Part 2        0
5  tt2262289      movie               The Pin               The Pin        0
6  tt0874027  tvEpisode         Episode #32.9         Episode #32.9        0

   startYear  endYear  runtimeMinutes                          genres  \
0     1951.0      NaN             7.0     [Animation, Comedy, Family]
1     1998.0      NaN            85.0                              []
2     2017.0      NaN            22.0  [Adventure, Animation, Comedy]
5     2013.0      NaN            85.0                              []
6     2006.0      NaN            29.0       [Comedy, Game-Show, News]

   averageRating  numVotes     score
0            7.1       459  7.009992
1            5.7         7  6.796077
2            8.5       240  7.684380
5            7.7        27  6.921384
6            8.0         8  6.869089

In [34]:
# Membuat fungsi Recommender system
def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by='score', ascending=False) #urutkan dari nilai tertinggi ke terendah
    
    #Ambil data 100 teratas
    df = df[:top]
    return df

In [35]:
# Ambil data 10 teratas     
print(simple_recommender(movie_rating_df, top=10))

         tconst  titleType                         primaryTitle  \
68    tt4110822  tvEpisode                        S.O.S. Part 2
236   tt2200252      video          Attack of the Clones Review
1181  tt7697962  tvEpisode  Chapter Seventeen: The Missionaries
326   tt7124590  tvEpisode  Chapter Thirty-Four: Judgment Night
1045  tt0533506  tvEpisode                             The Prom
71    tt8399426  tvEpisode                              Savages
1234  tt2843830  tvEpisode                                VIII.
1087  tt4295140   tvSeries                         Chef's Table
1054  tt2503932  tvEpisode                      Trial and Error
448   tt0337566      video             AC/DC: Live at Donington

                            originalTitle  isAdult  startYear  endYear  \
68                          S.O.S. Part 2        0     2015.0      NaN
236           Attack of the Clones Review        0     2010.0      NaN
1181  Chapter Seventeen: The Missionaries        0     2019.0      NaN
326   Chapter Thirty-Four: Judgment Night        0     2018.0      NaN
1045                             The Prom        0     1999.0      NaN
71                                Savages        0     2018.0      NaN
1234                                VIII.        0     2014.0      NaN
1087                         Chef's Table        0     2015.0      NaN
1054                      Trial and Error        0     2013.0      NaN
448              AC/DC: Live at Donington        0     1992.0      NaN

      runtimeMinutes                      genres  averageRating  numVotes  \
68              43.0  [Action, Adventure, Drama]            9.4      3820
236             86.0                          []            9.3      1411
1181            54.0    [Drama, Fantasy, Horror]            9.2      1536
326             42.0     [Crime, Drama, Mystery]            9.1      1859
1045            60.0    [Action, Drama, Fantasy]            8.9      2740
71              58.0   [Drama, Fantasy, Romance]            9.0      1428
1234            57.0          [Adventure, Drama]            8.9      1753
1087            50.0                          []            8.6     12056
1054            43.0    [Drama, Fantasy, Horror]            8.6      2495
448            120.0        [Documentary, Music]            8.5      1343

         score
68    9.254624
236   8.955045
1181  8.892450
326   8.850993
1045  8.740308
71    8.700045
1234  8.660784
1087  8.566998
1054  8.451165
448   8.256663

In [36]:
# Fungsi Recommender system user pref
def user_prefer_recommender(df, ask_adult, ask_start_year, ask_genre, top=100):
    #ask_adult = yes/no
    if ask_adult.lower() == 'yes':
        df = df.loc[df['isAdult'] == 1]
    elif ask_adult.lower() == 'no':
        df = df.loc[df['isAdult'] == 0]

    #ask_start_year = numeric
    df = df.loc[df['startYear'] >= int(ask_start_year)]

    #ask_genre = 'all' atau yang lain
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genres'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['numVotes'] >= m] #Mengambil film dengan m yang lebih besar dibanding numVotes
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

In [37]:
df = movie_rating_df.copy()
print(user_prefer_recommender(df,
                       ask_adult = 'no',
                        ask_start_year = 2000,
                       ask_genre = 'action', top=10
                       ))

         tconst  titleType                primaryTitle  \
68    tt4110822  tvEpisode               S.O.S. Part 2
1111  tt4174072  tvEpisode  Immortal Emerges from Cave
790   tt4279086  tvEpisode    And Santa's Midnight Run
800   tt0901201  tvEpisode                  Crossroads
1001  tt2129485  tvEpisode             A Desperate Man
509   tt1256301  tvEpisode                  Nine Lives
897   tt2349242  tvEpisode               The Fifth Man
294   tt4809422  tvEpisode              Blood and Fear
944   tt0618149  tvEpisode           In Blackest Night
1269  tt0479651      movie                Dasavatharam

                   originalTitle  isAdult  startYear  endYear  runtimeMinutes  \
68                 S.O.S. Part 2        0     2015.0      NaN            43.0
1111  Immortal Emerges from Cave        0     2017.0      NaN            53.0
790     And Santa's Midnight Run        0     2014.0      NaN            42.0
800                   Crossroads        0     2006.0      NaN            42.0
1001             A Desperate Man        0     2012.0      NaN            44.0
509                   Nine Lives        0     2008.0      NaN            44.0
897                The Fifth Man        0     2012.0      NaN            44.0
294               Blood and Fear        0     2015.0      NaN            44.0
944            In Blackest Night        0     2001.0      NaN            22.0
1269                Dasavatharam        0     2008.0      NaN           189.0

                              genres  averageRating  numVotes     score
68        [Action, Adventure, Drama]            9.4      3820  9.254624
1111      [Action, Adventure, Crime]            8.0      2898  7.914287
790      [Action, Adventure, Comedy]            8.2       823  7.901687
800         [Action, Drama, Mystery]            7.7       654  7.474263
1001          [Action, Crime, Drama]            7.7       501  7.426951
509           [Action, Crime, Drama]            7.6       501  7.358321
897           [Action, Crime, Drama]            7.8       270  7.354658
294       [Action, Adventure, Crime]            7.6       392  7.315900
944   [Action, Adventure, Animation]            7.4       526  7.226986
1269     [Action, Adventure, Sci-Fi]            7.2      8220  7.189960